<!doctype html>
<html class="no-js" lang="en-us">

<head>
    <meta charset="utf-8">
    <title>{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- HTML Meta Tags -->
    <meta name="description" content="{{ .Params.description | default $.Site.Params.description }}">

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="Not a Moment Sooner">
    <meta itemprop="description" content="{{ .Params.description | default $.Site.Params.description }}">
    <meta itemprop="image" content="https://www.notamomentsooner.com/images/social.jpg">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://www.notamomentsooner.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Not a Moment Sooner">
    <meta property="og:description" content="{{ .Params.description | default $.Site.Params.description }}">
    <meta property="og:image" content="https://www.notamomentsooner.com/images/social.jpg">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Not a Moment Sooner">
    <meta name="twitter:description" content="{{ .Params.description | default $.Site.Params.description }}">
    <meta name="twitter:image" content="https://www.notamomentsooner.com/images/social.jpg">

    <!-- Meta Tags Generated via http://heymeta.com -->

    <!-- ****** faviconit.com favicons ****** -->
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="icon" sizes="16x16 32x32 64x64" href="/favicon.ico">
	<link rel="icon" type="image/png" sizes="196x196" href="/favicon-192.png">
	<link rel="icon" type="image/png" sizes="160x160" href="/favicon-160.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96.png">
	<link rel="icon" type="image/png" sizes="64x64" href="/favicon-64.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16.png">
	<link rel="apple-touch-icon" href="/favicon-57.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/favicon-114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/favicon-72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/favicon-144.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/favicon-60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/favicon-120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/favicon-76.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/favicon-152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/favicon-180.png">
	<meta name="msapplication-TileColor" content="#FFFFFF">
	<meta name="msapplication-TileImage" content="/favicon-144.png">
	<meta name="msapplication-config" content="/browserconfig.xml">
	<!-- ****** faviconit.com favicons ****** -->

    {{ $sass := resources.Get "styles/main.scss" }}
    {{ if eq hugo.Environment "development" }}
        {{ $style := $sass | resources.ToCSS }}
        <link rel="stylesheet" href="{{ $style.Permalink }}">
    {{ else }}
        {{ $options := (dict "targetPath" "css/main.css" "outputStyle" "compressed" "enableSourceMap" true ) }}
        {{ $style := resources.Get "styles/main.scss" | resources.ToCSS $options | fingerprint }}
        <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">
    {{ end }}
</head>

<body>
    {{ partial "banner" . }}
    {{ block "main" . }}{{ end }}
    <script data-goatcounter="https://gc.notamomentsooner.com/count" async src="//gc.notamomentsooner.com/count.js"></script>
</body>

</html>
