a {
    color: var(--color-secondary);
    display: inline-block;
    font-weight: 700;
    text-decoration: none;

    &:hover {
        filter: brightness(var(--hover-brightness));
        text-decoration: underline;
    }
}