main {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Sen Extra Bold', var(--font-family);
        font-weight: normal;
        margin: 2rem 0 1rem;
        background: var(--color-bg-gradient);
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        text-shadow: 0 0 0 #6a6a6a2a;
        filter: drop-shadow(1px 1px #6a6a6a);
    }
}