:root {
    --border-radius: 15px;
    --box-shadow: 2px 2px 10px;
    --color: #5bd0a4;
    --color-accent: #baa679;
    --color-bg: #e1f0f0;
    --color-bg-alpha: #BA95A566;
    --color-bg-gradient: linear-gradient(125deg, var(--color), var(--color-secondary));
    --color-bg-secondary: #5bd0a4;
    --color-secondary: #01648b;
    --color-secondary-alpha: #baa679;
    --color-secondary-accent: #920de90b;
    --color-shadow: #f4f4f4;
    --color-text: #10312f;
    --color-text-secondary: #999;
    --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --grid-desktop: [full-start] calc(50vw - 37.5rem) [full-content-start] 1fr [main-content-start] repeat(6, 1fr) [main-content-end] repeat(1, 1fr) [full-content-end] calc(50vw - 37.5rem) [full-end];
    --grid-primary: [full-start] 1rem [full-content-start main-content-start] repeat(8, 1fr)  [main-content-end full-content-end] 1rem [full-end];
    --hover-brightness: 1.2;
    --line-height: 1.5;
}