.event {

}

.event__image {
    height: 320px;
    border: var(--border);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;

    @media screen and (min-width: 60rem) {
        height: 200px;
    }
}

.event__content {
    h3 {
        background: none;
        background-clip: unset;
        -webkit-background-clip: unset;
        -webkit-text-fill-color: var(--color-text);
        -webkit-box-decoration-break: unset;
        box-decoration-break: unset;
        line-height: 1;
        margin: 1rem 0;
        text-shadow: none;
        filter: none;
    }
}