.event {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-template-rows: auto 1fr;
    width: 100%;
    background: var(--color-text);
    color: var(--color-bg);
    border-radius: 2px;

    & + .event {
        margin-top: 2rem;
    }
}

.event__content {
    padding: 1rem;
}