.event__image {
    margin: 0;

    img {
        border-radius: var(--border-radius);
        object-fit: cover;
        width: 100%;
    }
}

.event__content {
    h3 {
        background: none;
        background-clip: unset;
        -webkit-background-clip: unset;
        -webkit-text-fill-color: var(--color-text);
        -webkit-box-decoration-break: unset;
        box-decoration-break: unset;
        line-height: 1;
        margin: 1rem 0;
        text-shadow: none;
        filter: none;
    }
}