.signatures {
    columns: 3;
    list-style: none;
    padding-left: 0;

    li {
        break-inside: avoid;

        + li {
            margin-top: 0.5rem;
        }
    }

    @media screen and (min-width: 60rem) {
        grid-column: full-content;
        columns: 4;
    }
}